<form id="form">
    <input type="file" name="event">
    <p>
        <input type="submit">
    </p>
</form>

<div>
    <h3 id=""></h3>

</div>

<script type="text/javascript">

    var prepareEventData = function(json) {
        var resultData = {};
        var events = json.events;
        for ( var i = 0 ; i < events.length() ; i++ ) {
            var event = {
                id: i,
                start: new Date(events[i].startTime),
                end: new Date(events[i].endTime),
                title: events[i].summary,
                location: events[i].location,
                description: events[i].description,
                geo: events[i].geo
            }
            resultData.push(event)
        }
        return resultData;
    }

    $(function (){
        $ ('#form').submit(function (e) {
            e.preventDefault( );
            data = new FormData ($( '#form' ).get(0));
            console.log ('Submitting');
            $.ajax({
                type : 'POST',
                url : 'http://localhost:9000/upload',
                data : data,
                cache : false,
                contentType : false,
                processData : false
            }).done ( function ( data ) {
                console.log ( data ) ;

                var container = $(".timeline")
                var data = prepareEventData($.parseJSON(data));


                var options = {};

                var timeline = new vis.Timeline(container, data, options);

            }).fail ( function ( jqXHR, status, errorThrown ) {
                console.log ( errorThrown ) ;
                console.log ( jqXHR.responseText ) ;
                console.log ( jqXHR.status ) ;
            });
        });
    }) ;
</script>