<form id="eventsLoadingForm">
    <input type="file" name="event">
    <p>
        <input type="submit">
    </p>
</form>


<script type="text/javascript">
//    $(function (){
//        require(['timeline/timelineService'], function (timelineService) {
//        });
//    });



    $(function() {
        $('.timepicker').timepicker({
            showMeridian: false
        });

        $('.datepicker' ).datepicker({
            autoclose: true,
            weekStart: 1
        });
        $('.datepicker').datepicker('setDate', new Date());
    });

    $(function() {
        $('#newEventEndDateOn').change( function() {
            var isChecked =  $(this).is(':checked');
            if ( isChecked ) {
                $('#newEventEndDateDiv').show();
            } else {
                $('#newEventEndDateDiv').hide();
            }
        });
        $('#newEventEndDateDiv').hide();
    });

</script>