<form id="form">
    <input type="file" name="event">
    <p>
        <input type="submit">
    </p>
</form>

<form id="addEventForm" role="form" >
    <div class="form-group">
        <label for="contentInput">Content</label>
        <input type="text" class="form-control" id="contentInput" placeholder="Enter content/title">
    </div>
    <div class="form-group">
        <label for="descriptionInput">Description</label>
        <textarea type="text" class="form-control" id="descriptionInput" placeholder="Enter content/title"></textarea>
    </div>
    <div>
        @datepicker("newEventStartDate")
        @timepicker("newEventStartTime")
    </div>
    <div>
        <input type="checkbox" id="newEventEndDateOn"/>
        <label for="newEventEndDateDiv">Event end date</label>
        <div id="newEventEndDateDiv">
            @datepicker("newEventEndDate")
            @timepicker("newEventEndTime")
        </div>
    </div>
    <button type="submit">Dodaj nowy event!</button>
</form>

<script type="text/javascript">

    var visDataSet;
    var timeline;

    var prepareEventData = function (json) {
        var resultDataSet = new vis.DataSet();
        var events = json.events;
        for ( var i = 0 ; i < events.length ; i++ ) {
            var event = {
                id: i,
                start: new Date(events[i].startTime),
                end: new Date(events[i].endTime),
                content: events[i].summary,
                location: events[i].location,
                description: events[i].description,
                geo: events[i].geo
            };
            resultDataSet.add(event)
        }
        return resultDataSet;
    };

    $(function (){
        $ ('#form').submit(function (e) {
            e.preventDefault( );
            data = new FormData ($( '#form' )[0]);
            $.ajax({
                type : 'POST',
                url : 'http://localhost:9000/upload',
                data : data,
                cache : false,
                contentType : false,
                processData : false
            }).done ( function ( data ) {
                var container = $("#timeline")[0];

                var preparedData = prepareEventData($.parseJSON(data));
                visDataSet = preparedData;

                var options = {};
                timeline = new vis.Timeline(container, preparedData, options);

                $("#flashing" ).text("DONE!");
            }).fail ( function ( jqXHR, status, errorThrown ) {
                console.log ( errorThrown ) ;
                console.log ( jqXHR.responseText ) ;
                console.log ( jqXHR.status ) ;
            });
        });
    });

    var getDateFromInputs = function(datepickerId, timepickerId) {
        var datepickerValue =  $('#'+datepickerId).datepicker('getDate');
        var timepickerValue = $('#'+timepickerId).data("timepicker").getTime( ).split(':');
        var newEventTimeHours = parseInt(timepickerValue[0]);
        var newEventTimeMinutes = parseInt(timepickerValue[1]);
        datepickerValue.set({ minute: newEventTimeMinutes, hour: newEventTimeHours});
        return datepickerValue;
    }

    $(function() {
        $('#addEventForm').submit( function(e) {
            e.preventDefault( );
            console.log('Adding new event:')
            var newEventStartDate = getDateFromInputs('newEventStartDate','newEventStartTime');
            console.log(newEventStartDate)

            var newEvent = {
                id: 100000,
                start: newEventStartDate,
                content: $('#contentInput').val(),
                description: $('#descriptionInput').val()
            };

            if ($('#newEventEndDateOn').is(':checked')) {
                newEvent.end = getDateFromInputs('newEventEndDate','newEventEndTime');
            }

            console.log(newEvent)
            addNewEventToTimeLineDataSet(visDataSet, newEvent)
        });
    });

    var addNewEventToTimeLineDataSet = function(dataSet, event) {
        dataSet.add(event);
    };

    $(function() {
        $('.timepicker').timepicker({
            showMeridian: false
        });

        $('.datepicker' ).datepicker({
            autoclose: true,
            weekStart: 1
        });
        $('.datepicker').datepicker('setDate', new Date());
    });

    $(function() {
        $('#newEventEndDateOn').change( function() {
            var isChecked =  $(this).is(':checked');
            if ( isChecked ) {
                $('#newEventEndDateDiv').show();
            } else {
                $('#newEventEndDateDiv').hide();
            }
        });
        $('#newEventEndDateDiv').hide();
    });

</script>