@(message: String)

@main("Timeline") {

    @alerts()
    @fileUpload()
    @newEventForm()

    <div>
        <h3 id="flashing"></h3>
        <div id="timeline"></div>
    </div>

    <script type="text/javascript">
        $(function() {
            require(['timeline/timelineService','forms/loadEventsForm','forms/newEventForm'], function(timelineService, loadEventsForm, newEventForm) {

                var timeline;

                var onNewEventLoadedSuccess = function(data) {

                    var options = {
                        editable: true,
                        'width':  '100%',
                        'height': '300px',
                        'cluster': true
                    };
                    timeline = timelineService.createTimeline('timeline', data, options);

                    newEventForm.show();
                };

                var onNewEventAdded = function(newEvent) {
                    timelineService.addNewEvent(newEvent);
                };

                loadEventsForm.loadEventsHandler(onNewEventLoadedSuccess);
                newEventForm.addNewEventSubmitHandler(onNewEventAdded);
            });
        });

    </script>
}
