@(message: String)

@main("Timeline") {

    @alerts()
    @fileUpload()
    @newEventForm()
    @searchForm()

    <div>
        <h3 id="flashing"></h3>
        <div id="timeline"></div>
    </div>

    <script type="text/javascript">
        $(function() {
            require(['timeline/timelineService','forms/loadEventsForm','forms/newEventForm', 'timeline/searchService'], function(timelineService, loadEventsForm, newEventForm, searchService) {

                var timeline;

                var onNewEventLoadedSuccess = function(data, groupName) {
                    if ( !timelineService.canCreateGroup(groupName) ) {
                        console.error('Cannot create a group - already exists: '+ groupName);
                        return;
                    }

                    data.forEach(function(event) {
                        event.group = groupName;
                    });

                    var options = {
                        editable: true,
                        width: '100%',
                        cluster: true,
                        showMajorLabels: false,
                        axisOnTop: false,
                        groupsChangeable: true,
                        groupMinHeight: 150,
                        groupsOnRight: false,
                        style: "dot"
                    };
                    timeline = timelineService.createTimeline('timeline', data, options);

                    newEventForm.show();
                    searchService.show();
                };

                var onNewEventAdded = function(newEvent) {
                    timelineService.addNewEvent(newEvent);
                };

                loadEventsForm.loadEventsHandler(onNewEventLoadedSuccess);
                newEventForm.addNewEventSubmitHandler(onNewEventAdded);
            });
        });

    </script>
}
