@(message: String)

@main("Timeline") {

    @fileUpload()
    @newEventForm("addEventForm")

    <div>
        <h3 id="flashing"></h3>
        <div id="timeline"></div>
    </div>

    <script type="text/javascript">


        $(function() {
            require(['timeline/timelineService','forms/loadEventsForm','forms/newEventForm'], function(timelineService, loadEventsForm, newEventForm) {

                var timeline;

                var onNewEventLoadedSuccess = function(data) {
                    var container = $("#timeline")[0];

                    var options = {};
                    timeline = timelineService.createTimeline('timeline', data, options);

                    $("#flashing" ).text("DONE!");
                };

                var onNewEventAdded = function(newEvent) {
                    timelineService.addNewEvent(newEvent);
                };

                loadEventsForm.attachForm(onNewEventLoadedSuccess);
                newEventForm.addNewEventFormOnSubmit('addEventForm', onNewEventAdded);
            });
        });

    </script>
}
