@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-timepicker.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-datepicker.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/datejs/date.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/timeline/timeline.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lodash.js")" type="text/javascript"></script>
    </head>
    <body style="background-color: #000;">
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <i class="fa fa-play-circle"></i>  <span class="light">Timeline</span>
                    </a>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a href="#" id="showTimelines">Show timelines</a>
                        </li>
                        <li>
                            <a href="#" id="addTimeline">Add new timeline</a>
                        </li>
                        <li>
                            <a href="#" id="addEvent">Add event</a>
                        </li>
                        <li>
                            <a href="#" id="searchButton">Search</a>
                        </li>

                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container -->
        </nav>

        <h3 id="flashing"></h3>

        <section id="addNewTimeline" class="container content-half-width text-center is-active">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Add new event</h2>
                    <form role="form" id="eventsLoadingForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id='fileUploadGroup' placeholder="Group name" required="true">
                        </div>
                        <div class="form-group">
                            <input  type="file" name="event" >

                        </div>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                </div>
            </div>
        </section>

        <section id="timelinesWrapper" class="container content-full-width text-center">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2>Timelines</h2>
                    <button class="js-pointer-show">Show pointer</button>
                    <button class="js-pointer-hide" style="display: none;">Hide pointer</button>

                    <div id="timeline">You have no timelines loaded.</div>
                </div>
            </div>
        </section>

        <section id="addEventWrapper" class="container content-half-width text-center">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2>Add new event</h2>
                    @newEventForm()
                </div>
            </div>
        </section>

        <section id="searchWrapper" class="container content-half-width text-center">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2>Search for events</h2>
                    @searchForm()
                    <div id="searchResults"></div>
                </div>
            </div>
        </section>


        <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="color: #000;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            <div id="event-title">
                                <span class="event-content"></span>
                            </div>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div id="modal-event-data">
                            <ul style="list-style: none">
                                <li class="event-start">
                                    <label>Start date</label>
                                    <br/>
                                    <span class="event-content"></span>
                                </li>
                                <li class="event-end">
                                    <label>End date</label>
                                    <br/>
                                    <span class="event-content"></span>
                                </li>
                                <li class="event-location">
                                    <label>Location</label>
                                    <br/>
                                    <span class="event-content"></span>
                                    <br/> Geo X: <span class="geo-x"></span>
                                    <br/> Geo Y: <span class="geo-y"></span>
                                </li>
                                <li class="event-description">
                                    <label>Description</label>
                                    <br/>
                                    <span class="event-content"></span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript">
    $(function() {
        require(['timeline/timelineService','forms/loadEventsForm','forms/newEventForm', 'switcher'],
        function(timelineService, loadEventsForm, newEventForm, switcher) {
            switcher.init();

            loadEventsForm.init();

            var onNewEventAdded = function(newEvent) {
                timelineService.addNewEvent(newEvent);

            };

            newEventForm.addNewEventSubmitHandler(onNewEventAdded);

        });
    });

    </script>
</html>

@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)