<form id="addEventForm" role="form" >
    <div class="form-group">
        <label for="contentInput">Content</label>
        <input type="text" class="form-control" id="contentInput" placeholder="Enter content/title">
    </div>
    <div class="form-group">
        <label for="descriptionInput">Description</label>
        <textarea type="text" class="form-control" id="descriptionInput" placeholder="Enter content/title"></textarea>
    </div>
    <div>
        @datepicker("newEventStartDate")
        @timepicker("newEventStartTime")
    </div>
    <div>
        <input type="checkbox" id="newEventEndDateOn"/>
        <label for="newEventEndDateDiv">Event end date</label>
        <div id="newEventEndDateDiv">
            @datepicker("newEventEndDate")
            @timepicker("newEventEndTime")
        </div>
    </div>
    <label for="groupSelect">Grupa:</label> <select id="groupSelect"></select>
    <button class="btn btn-default" type="submit">Dodaj nowy event!</button>
</form>



<script type="text/javascript">
    $(function() {
        $('.timepicker').timepicker({
            showMeridian: false
        });

        $('.datepicker').datepicker({
            autoclose: true,
            weekStart: 1
        });
        $('.datepicker').datepicker('setDate', new Date());

        $('#newEventEndDateOn').change(function (event) {
            if(event.currentTarget.checked) {
                $('#newEventEndDateDiv').show();
            } else {
                $('#newEventEndDateDiv').hide();
            }
        });

        $('#newEventEndDateDiv').hide();
    });
</script>