<form id="searchForm" role="form" >
    <label for="searchInput">Search:</label>
    <input type="text" class="form-control" id="searchInput" placeholder="Enter search string">
    <button type="submit" id="searchAction">Search!!!</button>
</form>


<script type="text/javascript">
$(function() {
    require(['timeline/timelineService'], function(timelineService) {

        $('#searchAction').on('click', function(e) {
            e.preventDefault();
            var searchString = $('#searchInput' ).val();

            timelineService.search(searchString);
        });

        $('#searchForm' ).hide();
    });
});
</script>